body {
  margin: 0;
  font-family: Segoe UI, sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
}

.card {
  width: 420px;
  margin: 80px auto;
  padding: 30px;
  background: rgba(255,255,255,0.12);
  border-radius: 14px;
  backdrop-filter: blur(12px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.5);
}

input, select, textarea, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  background: #00c6ff;
  font-weight: bold;
  cursor: pointer;
}
